.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    position: relative;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    width: 700px;
    height: 150px;
    box-shadow: 15px 15px 1px;
    margin-left: 10px;
}