@font-face {
    font-family: myFirstFont;
    src: url();
}

.titles{
    font-size: 60px;
    color: white;
    font-family: lato;
    text-align: center;
    position:relative;
}
.buttons{
    font-size: 37px;
    font-weight: 50px;
    color: black;
    font-family: lato;
    text-align: center;
    background-color: white;
    margin-top: 10%;
    border-radius: 10px;
    position:relative;
    box-shadow: 0px 3px 3px;
}

.buttons:hover {
    transform: scale(0.992);
}

.buttons:active {
    transform: scale(0.982);
}

.table {
    align-items: center;
    display: table;
    position: absolute;
    padding: 10px;
    background-color: white;
    border-radius:  10px;
    width: 550px;
    z-index: 3;
    margin-top: 350px;
    box-shadow: 0px 3px 3px;
}

.row {
    display: table-row;
    background-color: white;
    padding: 3px;
}

.cell {
    display: table-cell;
    padding: 3px;
    border-width: 1px;
    border-color: black;
    border-style: solid; 
}

.background-div {
    position: absolute;
    height: 875px;
    width: 750px;
    z-index: 1;
    border-radius: 20px;
    border: white;
    border-style: solid;
    top: 150px;
    background-color: #282c34;
    box-shadow: 0px 3px 10px;
}