@font-face {
    font-family: myFirstFont;
    src: url();
}

.titles{
    font-size: 60px;
    color: white;
    font-family: lato;
    text-align: center;
    position:relative;
}
.buttons{
    font-size: 37px;
    font-weight: 50px;
    color: black;
    font-family: lato;
    text-align: center;
    background-color: white;
    margin-top: 7.5%;
    border-radius: 10px;
    position:relative;
    box-shadow: 0px 3px 5px;
    width: 250px;
    margin: 3.5vh auto;
}

.buttons:hover {
    transform: scale(0.992);
}

.buttons:active {
    transform: scale(0.982);
}

.table {
    align-items: center;
    display: table;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius:  10px;
    width: 600px;
    box-shadow: 0px 3px 5px;
    margin-top: 10%;
}

.row {
    display: table-row;
    background-color: white;
    padding: 3px;
}

.cell {
    display: table-cell;
    padding: 3px;
    border-width: 1px;
    border-color: black;
    border-style: solid; 
}

.background-div {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 20px;
    border: white;
    border-width: 2px;
    border-style: solid;
    background-color: #282c34;
    box-shadow: 0px 3px 10px;
    top: 5vh;
}