.popmenu{
    height:"100%";
    width:'300px';
    

}
.menuitem{
    background-color:white ;
}
  .menuitem:hover {
    background-color: rgb(241, 241, 241);
  }

.menuicon{
  color:white;
  

  
}
.menuicon:hover{
  opacity: 90%;
  background-color: grey;
  border-radius: 10%;
}