
/*Light Lime*/
.color1{
    color: #abd699
}

 /*Fresh Lemon */ 
 .color1{
    color: #ffe26a
}

 /*Teal */ 
 .color1{
    color: #75c9b7
}

 /*Mint */ 
 .color1{
    color: #c7ddcc
}

 /* Navy*/
.color1{
  color: #16123f  
} 